# .NET Core
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
*.user
*.suo
*.userprefs
*.symbols.nupkg
*.vspscc
*.vssscc
.nuget/
# Visual Studio Code - https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# User-specific files
*.rsuser
**/*.csproj.user
**/*.vbproj.user
**/*.fsproj.user
**/*.vcxproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
